$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";
@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";


$colors: (
  primary: #f39c12,
  secondary: #e74c3c,
  danger: #e74c3c,
  light: #fff,
  dark: #222,
  grey: #ddd,
  green: #27ae60,
  transparent: rgba(0, 0, 0, 0),
);
